<section class="relative w-full bg-black">
	<picture>
		<source media="(max-width: 767px)" srcset="/images/mobile-hero.jpg" />
		<img
			src="/images/hero.jpg"
			alt="ABGE GP hero backdrop"
			class="block h-auto w-full object-contain"
		/>
	</picture>
</section>
